body{
    background-color: #EDE2CC;
    margin:0;
    max-width: fit-content;
    max-width: 100%;
    flex-wrap: wrap;
}
/*Header*/
#nav1{
    background-color: black;
    color:white;
    display: flex;
    height: 50px;   
}
.logo{
    display: flex;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo p{
   /* font-size: 20px;*/
    padding-left: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search-bar{
    background-color: white;
    margin-left: 1000px;
    width:260px;
    height: 30px;
    margin-top: 10px;
    display: flex;
}
.search-input{
    height: 30px;
    width: 230px;
}
.search-logo{
    width:27px;
    height: 25px;
    padding-top: 2px;
}
.search{
    background-color: #8E8EB3;
    width:30px;
}
.acc{
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}
.acc a{
    text-decoration: none;
    color: white;
}
.acc-logo{
    width: 42px;
    height: 40px;
    margin-top: 5px;
}
#nav2{
    background-color: #EBD3AF;
    color:black;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}
.main{
    display: flex;
    width:700px;
    margin-left: 375px;
    justify-content: space-evenly;
}
.main p{
    font-size: 17px;
    margin-left: 66px;
    font-weight: bold;
}
.main a{
    text-decoration: none;
    color: black;
}
.item {
    margin-left:315px ;
    display: flex;
}
.wish-logo{
    width: 33px;
    height: 35px;
    margin-top: 3px;
    padding: 5px;
}
/*section1*/
.box{
    display: flex;
    justify-content: space-evenly ;
}
.box1{
    background-color: #C0B7A5;
    width: 700px;
    height: 720px;
    margin: 30px;
}
.box1 h1{
      text-align: center;
      font-size: 35px;
}
.box1-con1 input{
    width: 560px;
    height: 45px;
    background-color: #D9D9D9;
    margin-left:70px;
    border-radius: 27px;
    margin-top: -15px;
    border: none;
    font-size: 20px;
}
.box1 p{
    text-align: center;
    font-size: 25px;
}
.box1 button{
    width: 280px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #7C715D;
    border: none;
    margin: 50px;
    margin-left: 190px;
    border-radius: 27px;
}
.box1 button:hover{
    background-color: antiquewhite;
    color: black;
}
.box2{
    background-color: #C0B7A5;
    width: 700px;
    height: 720px;
    margin: 30px;
}
.box2 h1{
    text-align: center;
    margin-top: 80px;
    font-size: 2rem;
}
#h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}
.box2 p{
    text-align: center;
    font-size: 25px;
}
.box2-p{
    display: flex;
    justify-content: space-evenly;
}
.box2-p p{
    font-size: 18px;
    margin-top: 30px;
}
.box2 button{
    width: 280px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #7C715D;
    border: none;
    margin: 50px;
    margin-left: 230px;
    border-radius: 27px;
}
.box2 button:hover{
    background-color: antiquewhite;
    color: black;
}

.box2-cont{
    margin-top: 70px;
}

/*Footer*/
footer *{
    margin: 0;
}
.foot-panel{
    background-color: #EBD3AF;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
.panel1{
    width: 260px;
    font-size: medium;  
    margin-left: 35px;
    margin-top: 15px;
}
#panel-id{
    text-align: center;
}
.panel1-1{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}
.panel1-1 p{
    margin-top: 10px;
}
.panel1-1 a{
    text-decoration: none;
    color: black;
}
.panel1-2{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
}
.panel1-2 p{
    margin-top: 10px;
}
.panel2{
    margin-top: 15px;
    margin-left: 200px;
    font-size:15px
}
.panel2-1{
    margin-left: 152px;
    font-size: medium;
    margin-top: 10px;
}
.panel2-2{
    margin-top: 13px;
    display: flex;
    font-size: 17px;
    justify-content: center;
    gap:22px;
}
.panel3{
    margin-top: 15px;
    margin-left: 200px;
    font-size:medium;
}
#panel3-p{
    margin-left: 40px;
    margin-top: 8px;
}
.panel3-pic{
    margin-left: 15px;
    margin-top: 8px;
}
.panel3-pic img{
    width: 30px;
    height: 30px;
}